@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
header {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica $fontprimaria", sans-serif;
  font-size: 22px;
}

.logo {
  float: left;
  font-family: "neue";
  text-decoration: underline rgb(198, 41, 41);
  font-size: 45px;
  font-weight: bold;
  color: white;
}

.logo span {
  text-decoration: underline rgb(33, 37, 41);
}

h2.sub_logo {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica $fontprimaria", sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding-left: 67px;
  padding-top: 45px;
  position: absolute;
}

.nav-item.cart-icon {
  position: relative;
}

.cart-icon .fas {
  top: 50%;
  right: -25px; /* Espacio ajustable a tu preferencia */
  color: rgba(255, 255, 255, 0.55); /* Reemplaza $color_grey2 con tu color */
}

.cart-icon .fas:hover {
  top: 50%;
  right: -25px; /* Espacio ajustable a tu preferencia */
  color: rgba(255, 255, 255, 0.65); /* Reemplaza $color_grey2 con tu color */
}

/* main*/
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin-bottom: 50px;
}

.fondo {
  background-image: linear-gradient(to top, rgb(76, 77, 78), rgb(255, 255, 255));
}

.index_ {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 80%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(rgb(255, 255, 255), rgba(52, 52, 52, 0.158)), url("../Image/fondo ico aceite y filtro.jpg");
  background-size: auto;
  object-fit: cover;
  position: static;
}

h1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
}

.index #image_banner {
  width: 100%;
  margin: 0%;
  object-fit: contain;
  position: static;
  padding-top: 50px;
}

.logo1 {
  display: flex;
  font-family: "neue";
  text-decoration: underline rgb(198, 41, 41);
  font-size: 80px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 70px;
}

.sello {
  z-index: 2;
  height: 200px;
  width: 200px;
  transform: translate(-550px, -100px) rotate(350deg);
}

.all {
  transform: translateY(-50px);
}

h3 {
  color: rgb(0, 0, 0);
  text-decoration: underline rgb(198, 41, 41);
  text-align: center;
  font-size: 45px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0px;
}

.tareas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 40px;
}

.tareas_ img:hover {
  filter: grayscale 100%;
  transform: rotate(5deg);
}

.tareas_ p {
  font-size: 25px;
  text-decoration: underline rgb(198, 41, 41);
  font-weight: bold;
  padding-bottom: 10px;
  color: black;
}

.tareas_ img {
  height: 300px;
  width: 200px;
  object-fit: cover;
  border: solid 2px black;
  border-radius: 8px;
}

.intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 40px;
}

.intro_1 {
  text-align: center;
  background-color: rgb(33, 37, 41);
  color: white;
  text-align: center;
  font-family: "neue";
  font-size: 30px;
  padding: 10px;
  border: 3px solid rgb(198, 41, 41);
  border-radius: 45px;
  line-height: 34px;
  margin: 20px;
}

h4 {
  text-align: center;
  font-size: 40px;
  font-family: "neue";
  text-decoration: 8px underline rgb(198, 41, 41);
  font-style: italic;
  font-weight: bold;
  text-decoration-style: inherit;
  margin-top: 20px;
  color: black;
  text-transform: uppercase;
}

.productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 40px;
}

.produ_ p {
  font-size: 25px;
  text-decoration: underline rgb(198, 41, 41);
  font-weight: bold;
  padding-bottom: 10px;
  color: black;
  text-underline-position: under;
}

.produ_ img {
  height: 200px;
  width: 200px;
  object-fit: contain;
  border: solid 2px black;
  border-radius: 8px;
  background-color: white;
}

.produ_ img:hover {
  filter: contrast(150%);
  transform: rotateY(360deg);
  transition: all 2s;
}

/* footer */
.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: rgb(33, 37, 41);
}

.footer-dark h5 {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 25px;
  color: white;
  text-align: center;
  text-decoration: underline solid 2px white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 20px;
}

iframe {
  height: 150px;
  width: 250px;
  size: 10px;
  position: relative;
  margin-left: 25px;
}

@media (max-width: 1400px) {
  .iframe_1 {
    margin-left: 2px;
  }
}
.footer-dark ul {
  padding: 0;
  list-style: none;
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
  color: white;
  line-height: 30px;
}

.footer-dark ul a {
  color: white;
  text-decoration: none;
  text-align: center;
}

.footer-dark ul a:hover {
  opacity: 0.8;
  color: rgb(198, 41, 41);
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}
.footer-dark .item.marcas {
  display: flex;
  flex-direction: column;
}

.marcas_ {
  margin-top: 40px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}
.footer-dark .item.social {
  text-align: center;
  font-size: 50px;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
  }
}
.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  opacity: 0.3;
  font-size: 20px;
  margin-bottom: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* quienes somos */
#quienes_somos {
  background-color: white;
  height: 100%;
  width: 100%;
  margin-bottom: 40px;
}

.container {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.container p.quienes-somos {
  text-align: justify;
  font-size: 22px;
  margin: 40px;
  align-items: center;
  font-family: "neue";
}

#qs_img1, #qs_img2, #qs_img3 {
  width: 550px;
  height: 300px;
  margin-left: 20px;
  margin-right: 20px;
  border: solid 2px black;
}

#qs_img1 {
  float: right;
  margin-top: 60px;
}

#qs_img2 {
  float: left;
  margin-top: 80px;
}

#qs_img3 {
  float: right;
  margin-top: 90px;
}

#p4 {
  padding-top: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline solid 3px rgb(198, 41, 41);
}

@media (max-width: 919px) {
  #qs_img1, #qs_img2, #qs_img3 {
    float: none;
    width: 300px;
    height: 250px;
    align-items: center;
    object-fit: cover;
  }
}
/* servicios */
.servicios_main {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.servicios ul li {
  color: black;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-top: 50px;
  list-style-type: none;
}

.elevadores_1 {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border: 2px solid black;
}

@media (max-width: 700px) {
  .elevadores_1 {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
}
/* productos */
#main_product {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin-bottom: 50px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 50px;
}

.productosp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 40px;
  font-family: "neue";
  color: black;
  text-transform: uppercase;
  text-underline-position: under;
  text-decoration: underline solid 2px rgb(198, 41, 41);
  font-weight: bold;
  font-size: 25px;
}

.transition {
  height: 250px;
  width: 400px;
  transition: heigth 0.1s, width 0.1s;
}

.paceite-item, .pfiltro-item, .pfaire-item, .pvarios-item {
  height: 250px;
  width: 400px;
  border: 2px solid rgb(33, 37, 41);
}

.paceite-item {
  background-image: url(../Image/paceite.jpg);
  background-size: cover;
  background-position: center;
  margin: 20px;
  filter: grayscale(80%);
}

.pfiltro-item {
  background-image: url(../Image/pfiltro.jpg);
  background-size: cover;
  background-position: center;
  margin: 20px;
  filter: grayscale(80%);
}

.pfaire-item {
  background-image: url(../Image/pfaire.jpg);
  background-size: cover;
  background-position: center;
  margin: 20px;
  filter: grayscale(80%);
}

.pvarios-item {
  background-image: url(../Image/pvarios.jpg);
  background-size: cover;
  background-position: center;
  margin: 20px;
  filter: grayscale(80%);
}

.paceite-item:hover {
  filter: grayscale(0%);
  border: 4px solid rgb(198, 41, 41);
  height: 260px;
  width: 410px;
}

.pfiltro-item:hover {
  filter: grayscale(0%);
  border: 4px solid rgb(198, 41, 41);
  height: 260px;
  width: 410px;
}

.pfaire-item:hover {
  filter: grayscale(0%);
  border: 4px solid rgb(198, 41, 41);
  height: 260px;
  width: 410px;
}

.pvarios-item:hover {
  filter: grayscale(0%);
  border: 4px solid rgb(198, 41, 41);
  height: 260px;
  width: 410px;
}

@media (max-width: 400px) {
  .paceite-item, .pfiltro-item, .pfaire-item {
    height: 200px;
    width: 275px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
/* contacto */
.contacto_main {
  display: inline-block;
  height: 600px;
  width: 100%;
  text-align: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  margin-bottom: 50px;
}

fieldset.text-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
}

.form-horizontal {
  width: 100%;
}

.form-control {
  width: 500px;
  border: 1px solid color(srgb rgb(186, 186, 186) rgb(166, 166, 166) rgb(169, 169, 169));
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: 0.3s ease all;
}

.form-control:focus {
  border: 1px solid rgb(76, 77, 78);
  outline: none;
  box-shadow: 3px 0px 30px 0px rgb(33, 37, 41);
}

.bigicon {
  font-size: 20px;
  padding-bottom: 10px;
  color: rgb(198, 41, 41);
  align-items: center;
  text-align: center;
  justify-content: center;
}

.fa-at {
  font-size: 20px;
  padding-bottom: 10px;
  color: rgb(198, 41, 41);
  align-items: center;
  text-align: center;
  justify-content: center;
}

.fa-comments {
  font-size: 20px;
  padding-bottom: 10px;
  color: rgb(198, 41, 41);
  align-items: center;
  text-align: center;
  justify-content: center;
}

.btn-primary {
  font-size: 35px;
  color: rgb(198, 41, 41);
  color: rgb(255, 255, 255);
  background-color: rgb(198, 41, 41);
  opacity: 90%;
  border-color: #000000;
  border: solid 2px rgb(33, 37, 41);
  margin: 15px;
  cursor: pointer;
}

.btn-primary:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(33, 37, 41);
  border: solid 2px rgb(198, 41, 41);
}

.form-horizontal {
  display: flex;
  justify-content: center;
}

#message {
  height: 200px;
}

.form-group {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

@media (max-width: 700px) {
  .form-group {
    margin-left: 0px;
    width: 350px;
  }
  .form-control {
    width: 350px;
  }
}
.formulario-error {
  font-size: 15px;
  font-family: "neue";
  text-align: center;
  width: auto;
  margin: 5px;
  display: none;
  color: rgb(198, 41, 41);
  display: none;
}

.formulario-error-activo {
  display: block;
}

.formulario-mensaje-error {
  text-align: center;
  border: 2px solid rgb(76, 77, 78);
  border-radius: 7px;
  padding: 10px;
  background-color: rgba(255, 57, 57, 0.692);
  font-size: 18px;
  width: 600px;
  text-transform: uppercase;
  display: none;
}

.formulario-mensaje-error-activo {
  display: block;
}

.formulario-validacion-estado {
  position: absolute;
  transform: translate(220px, -30px);
  z-index: 100;
  opacity: 0;
}

.formulario-mensaje-exito {
  color: green;
  font-size: 20px;
  font-family: "neue";
  display: none;
}

.formulario-mensaje-exito-activo {
  display: block;
}

.form-control-correcto .formulario-validacion-estado {
  color: rgb(126, 186, 35);
  opacity: 1;
}

.form-control-incorrecto .formulario-validacion-estado {
  color: rgb(198, 41, 41);
  opacity: 1;
}

.form-control-incorrecto .form-control {
  border: solid 1px rgb(198, 41, 41);
}

/* carrito de compras */
#mostrarCarritoBtn {
  height: 30px;
  width: 30px;
  color: black;
  padding-right: 50px;
  padding-bottom: 55px;
}

.btn .btn-primary .mt-2 {
  height: 50px;
  width: 20px;
}

.carrito-flotante {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  background-color: #c9c9c9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.carrito-header {
  background-color: rgb(164, 164, 164);
  padding: 8px;
  text-align: center;
}

#carrito_flotante {
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "neue";
}

.carrito-productos {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
}

.carrito-productos li {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.carrito-productos li:last-child {
  border-bottom: none;
}

#botonMinimizarMaximizar {
  float: right;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  font-size: 15px;
  color: rgb(198, 41, 41);
  border: 1px solid rgb(198, 41, 41);
}

.contenedor-botones {
  display: flex;
  justify-content: flex-end;
}

.mostrarCarrito2 {
  height: 40px;
  width: 150px;
  font-size: 15px;
}

.checkout {
  background-color: #d0d0d0;
}

.container2 {
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-linear-gradient(#c5e5e5, #ccddf9);
  background: linear-gradient(#c9e5e9, #ccddf9);
  border-radius: 33px;
  margin: 100px;
}

.dropdown-select.visible {
  display: block;
  background-color: rgb(76, 77, 78);
}

.dropdown {
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  padding-left: 10px;
  cursor: pointer;
}

ul li:hover {
  background: rgba(255, 255, 255, 0.1);
}

.dropdown-select {
  position: absolute;
  background: #77aaee;
  text-align: left;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 90%;
  left: 2px;
  line-height: 2em;
  margin-top: 2px;
  box-sizing: border-box;
}

.thin {
  font-weight: 400;
}

.small {
  font-size: 12px;
  font-size: 0.8rem;
}

.half-input-table {
  border-collapse: collapse;
  width: 100%;
}

.half-input-table td:first-of-type {
  border-right: 10px solid rgb(33, 37, 41);
  width: 40%;
}

.window {
  height: 540px;
  width: 800px;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  z-index: 10;
}

.order-info {
  height: 100%;
  width: 50%;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.price {
  bottom: 0px;
  position: absolute;
  right: 0px;
  color: #4488dd;
}

.order-table td:first-of-type {
  width: 25%;
}

.order-table {
  position: relative;
}

.line {
  height: 1px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #ddd;
}

.order-table td:last-of-type {
  vertical-align: top;
  padding-left: 25px;
}

.order-info-content {
  table-layout: fixed;
}

.full-width {
  width: 100%;
}

.pay-btn {
  border: none;
  background: rgb(33, 37, 41);
  line-height: 2em;
  border-radius: 10px;
  font-size: 19px;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  position: absolute;
  bottom: 25px;
  width: calc(100% - 50px);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.pay-btn:hover {
  background: #d0d0d0;
  color: rgb(33, 37, 41);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.total {
  margin-top: 25px;
  font-size: 20px;
  font-size: 1.3rem;
  position: absolute;
  bottom: 30px;
  right: 27px;
  left: 35px;
}

.dense {
  line-height: 1.2em;
  font-size: 16px;
  font-size: 1rem;
}

.input-field {
  background: rgb(76, 77, 78);
  margin-bottom: 10px;
  margin-top: 3px;
  line-height: 1.5em;
  font-size: 20px;
  font-size: 1.3rem;
  border: none;
  padding: 5px 10px 5px 10px;
  color: #fff;
  box-sizing: border-box;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.credit-info {
  background: rgb(198, 41, 41);
  height: 100%;
  width: 50%;
  color: #eee;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  font-size: 0.9rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  padding-left: 25px;
  padding-right: 25px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
}

.dropdown-btn {
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  border-radius: 5px;
  text-align: center;
  line-height: 1.5em;
  cursor: pointer;
  position: relative;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

.dropdown-btn:after {
  content: "▾";
  right: 8px;
  position: absolute;
}

.dropdown-btn:hover {
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

.dropdown-select {
  display: none;
}

.credit-card-image {
  display: block;
  max-height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 15px;
}

.credit-info-content {
  margin-top: 25px;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media (max-width: 600px) {
  .window {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 0px;
  }
  .order-info {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    border-radius: 0px;
  }
  .credit-info {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    border-radius: 0px;
  }
  .pay-btn {
    border-radius: 0px;
  }
}
.delete-button {
  display: flex;
  justify-content: flex-end;
  background-color: #ccc;
  border: none;
  float: right;
  transform: translate(30px, -55px);
}

.product-item p {
  display: flex;
  align-items: center;
  height: 96px;
  margin: 0;
}

/*# sourceMappingURL=Style.css.map */
